<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skeleton</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>

  <body>
    <span id="state">State</span>
    <script>
       state = [];

       function generateUrl(player) {
           const baseUrl = process.env.TEST ? "http://127.0.0.1:3000/" : "http://kursai-env.jhpzxdmpvv.eu-west-2.elasticbeanstalk.com";
           return baseUrl + player;
       }

       function refreshContinuously(url) {
           const xmlHttp = new XMLHttpRequest();
           xmlHttp.onreadystatechange = function() {
               // Call again after one second
               console.log(xmlHttp.responseText);
               document.getElementById("state").textContent=xmlHttp.responseText;
               if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                   window.setTimeout(refreshContinuously, 2000, url);
               }
           }
           xmlHttp.open("GET", url, true); // true for asynchronous
           xmlHttp.setRequestHeader("Access-Control-Allow-Origin", true);
           xmlHttp.send(null);
       }

       const baseUrl = process.env.TEST ? "http://127.0.0.1:3000/" : "http://kursai-env.jhpzxdmpvv.eu-west-2.elasticbeanstalk.com";
       console.log(baseUrl);
       refreshContinuously(baseUrl);
    </script>
  </body>
</html>
